.card {
    background-color: white;
    width: 150px;
    height: 60px;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #333;
  }
  